@font-face {
  font-family: "Gilroy-Light";
  src: local('Gilroy Light'),
  local('Gilroy-Light'),
  url(../fonts/gilroylight.woff2),
  url(../fonts/gilroylight.woff);
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local('Gilroy ExtraBold'),
  local('Gilroy-ExtraBold'),
  url(../fonts/gilroyextrabold.woff2),
  url(../fonts/gilroyextrabold.woff);
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans";
  src:  local('Open Sans Extrabold'),
  local('OpenSans-Extrabold'),
  url(../fonts/opensans.woff2),
  url(../fonts/opensans.woff);
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans-Light";
  src: local('Open Sans Light'),
  local('OpenSans-Light'),
  url(../fonts/opensanslight.woff2),
  url(../fonts/opensanslight.woff);
  font-weight: 300;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(-40px);
  }

  20% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  margin-top: 20px;
  margin-bottom: 58px;
  position: relative;
}

.top-container {
  padding-left: 60px;
  padding-right: 60px;
}

.main-header::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(247, 226, 150, 1);
  top: 20px;
  width: 100%;
  height: 299px;
}

.background-size::before {
  height: 186px;
}

.main-header ul {
  padding-left: 0;
  margin-bottom: 0;
}

.main-header .user-nav {
  margin-bottom: 33px;
  margin-top: 20px;
}

.change a:hover,
.change button:hover,
.search:hover  {
  opacity: 0.6;
}

.change a:active,
.change button:active {
  opacity: 0.3;
}

.no-bullets {
  list-style-type: none;
}

.user-nav,
.catalog-nav {
  font-family: "OpenSans-Light";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.user-nav li {
  display: flex;
  align-items: flex-end;
  padding-bottom: 14px;
}

.user-nav button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  align-items: inherit;
}

.user-nav .form-search-item {
  height: 50px;
  padding: 0;
}

.search {
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  padding-left: 36px;
  padding-bottom: 14px;
}

.form-search {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.form-search::before {
  content: "";
  position: absolute;
  background-image: url(../img/search.svg);
  width: 16px;
  height: 16px;
  bottom: 14px;
}

.search-btn {
  display: none;
}

.search:focus {
  width: 405px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  outline: none;
  color: rgba(0, 0, 0, 1);
}

.search:focus + .search-btn {
  display: block;
  position: absolute;
  left: 320px;
  border: 2px solid rgba(0, 0, 0, 1);
  width: 85px;
  height: 49px;
}

.form-search .search-btn:hover {
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.user-nav li:nth-child(4n+3),
.site-nav li:nth-child(4n) {
  margin-left: auto;
}

.user-nav li:nth-child(4n),
.navbar-extra li:nth-child(5n+5) {
  margin-left: 41px;
}


.navbar-extra li:nth-child(5n+4) {
  margin-left: auto;
}

.user::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/user.svg);
  width: 13px;
  height: 12px;
  margin-right: 14px;
}

.compare::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/compare.svg);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.cart::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/cart.svg);
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.site-nav {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.site-nav li:nth-child(4n+3) {
  margin-left: 38px;
}

.catalog-btn::before,
.catalog-btn::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  left: 230px;
  top: 10px;
  background-color: rgba(39, 37, 37, 0.3);
}

.catalog-btn::before {
  transform: rotate(90deg);
}

.navbar,
.navbar-extra {
  display: flex;
  flex-wrap: wrap;
}

.navbar li:nth-child(4n+1),
.navbar-extra li:nth-child(5n+1) {
  width: 50%;
}

.navbar li:nth-child(4n+2),
.navbar-extra li:nth-child(5n+2),
.navbar-extra li:nth-child(5n+3) {
  margin-left: 20px;
}

.main-header .page-tittle {
  margin-bottom: 30px;
  margin-top: 44px;
}

.catalog-nav {
  line-height: 2.4;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  height: 129px;
  padding-top: 25px;
  position: absolute;
  background-color: rgba(247, 226, 150, 1);
  width: 111%;
  height: 160px;
  left: -5.4%;
  z-index: 1;
}

.catalog-btn:focus-within .catalog-nav {
  display: flex;
}

.catalog-nav li:nth-child(n) {
  width: fit-content;
  margin: 0;
  padding-left: 5%;
}

.catalog-nav li:nth-child(3n+1) {
  margin-right: 58px;
}

.catalog-nav li:last-child {
  margin-right: 100%;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/nav-arrow.svg);
  width: 4px;
  height: 7px;
  margin-left: 17px;
  margin-right: 17px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.categories {
  margin-top: 106px;
}

.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-item {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.categories-item:hover div,
.categories-item:focus div {
  background-color: rgba(240, 197, 46, 1);
}

.categories-item:active img,
.categories-item:active p {
  opacity: 0.3;
}

.categories-item p {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  margin-top: 39px;
  margin-bottom: 0;
}

.categories-item div {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-tittle {
  font-family: "Gilroy-ExtraBold";
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.filter ul,
.filter h2,
.filter h3{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.container h2 {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100vh;
  text-transform: uppercase;
  font-family: 'Gilroy-ExtraBold';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
}

.filter {
  position: relative;
  background-color: rgba(235, 235, 235, 1);
}

.filter::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  left: -200%;
  background-color: rgba(235, 235, 235, 1);
}

.filter h2 {
  background-color: rgba(217, 217, 217, 1);
  width: 100%;
  padding-left: 60px;
  padding-right: 67px;
  position: relative;
}

.filter h2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  left: -200%;
  top: 0;
  background-color: rgba(217, 217, 217, 1);
}

.filter-form {
  margin-left: 60px;
  margin-right: 67px;
  margin-top: 63px;
  width: 200px
}

.filter .btn {
  width: 200px
}

.filter-form fieldset {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 1);
  padding-top: 16px;
  padding-bottom: 40px;
}

.filter-form input + label::before,
.filter-form input:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-right: 14px;
  cursor: pointer;
}

.filter-form input:focus + label::before {
  border: 2px solid rgba(0, 123, 255, 0.4);
}

.filter-form label:focus {
  background-color: lawngreen;
}

.color-filter input + label::before {
  background-image: url(../img/checkbox-off.svg);
}

.color-filter input:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.bluetooth-filter input + label::before {
  background-image: url(../img/radio-off.svg);
}

.bluetooth-filter input:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.sorting {
  display: flex;
  background-color: rgba(235, 235, 235, 1);
  position: relative;
}

.sorting::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  right: calc((1220px - 100vw)/2);
  background-color: rgba(235, 235, 235, 1);
  z-index: -1;
}

.sort-up-down {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.icon-up {
  margin-left: 19px;
}

.sorting h2 {
  margin: 0;
  width: auto;
  padding-left: 74px;
}

.sorting-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  padding-left: 0;
}

.change-other a {
  opacity: 0.3;
}

.change-other a:hover {
  opacity: 0.6;
}

.change-other .active,
.change-other a:active {
  opacity: 1;
}

.sorting-list a {
  padding-right: 30px;
}

.sorting-list a:last-child {
  margin-right: 0px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 69px;
  padding-left: 73px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.product-photo {
  position: relative;
  margin-bottom: 38px;
  cursor: pointer;
}

.product-card h3,
.product-card p {
  margin-top: 0;
  margin-bottom: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-info h3 {
  max-width: 252px;
}

.product-info p {
  text-align: right;
}

.product-buy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.7);
}

.product-buy .btn {
  width: 200px;
  margin-bottom: 33px;
}

.product-photo:hover .product-buy,
.product-photo:focus-within .product-buy {
  display: flex;
  animation: bounce2 0.6s;
}

.product-buy *:focus {
  border: 2px solid rgba(0, 123, 255, 0.4);
}

.product-buy .change {
  font-family: "OpenSans-Light";
  font-size: 13px;
  line-height: 2.77;
  color: rgba(0, 0, 0, 0.5);
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 77px;
  margin-left: 73px;
}

.pagination a {
  font-family: "Gilroy-ExtraBold";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  padding: 23px 30px;
  text-transform: uppercase;
  vertical-align: middle;
}

.switch:hover {
  background-color: rgba(217, 217, 217, 1);
}

.switch:active {
  color: rgba(0, 0, 0, 0.3)
}

.pagination-list{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination-list a {
  padding-left: 31px;
  padding-right: 31px;
}

.gallery {
  position: relative;
  z-index: 0;
  height: 486px;
}

.gallery-item {
  padding-left: 90px;
  padding-right: 82px;
  display: none;
  justify-content: space-between;
  position: relative;
}

.gallery-item-info {
  max-width: 502px;
}

.gallery-item-info ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.gallery-item-info .page-tittle {
  line-height: 56px;
  margin-top: 38px;
  margin-bottom: 0;
  position: relative;
}

.gallery-item-info .btn {
  width: 220px;
}

.gallery-item-info .info-text {
  margin-top: 31px;
  margin-bottom: 62px;
  max-width: 479px;
}

.gallery-item-info li {
  width: 33.3%;
  text-align: left;
}

.feature-info {
  font-family: "Gilroy-Light";
  font-size: 36px;
  line-height: 1.33;
  margin-top: 71px;
  margin-bottom: 20px;
}

.feature {
  font-family: "OpenSans-Light";
  font-size: 13px;
  line-height: 1.54;
  margin: 0;
}

.gallery-item-info .page-tittle::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: rgba(255, 255, 255, 1);
  top: -25px;
}

.gallery-item::after {
  display: block;
  position: absolute;
  font-family: "Gilroy-ExtraBold";
  font-size: 179px;
  right: 50px;
  top: -45px;
  z-index: -1;
  color: rgba(255, 255, 255, 1);
}

.first-slide::after {
  content: "01";
}

.scnd-slide::after {
  content: "02";
}

.thrd-slide::after {
  content: "03";
}

.slider-nav {
  position: absolute;
  z-index: 1;
  right: 230px;
  top: 305px;
}

.slider-navbar {
  display: flex;
  padding: 0;
  margin: 0;
}

.slider-navbar label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 0;
  margin-left: 25px;
}

.slider-input:focus + label::before {
  border: 3px solid rgba(0, 123, 255, 0.4);
}

.slider-input + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/slider-button-empty.svg);
  background-size: contain;
  width: 12px;
  height: 12px;
}

.slider-input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/slider-button.svg);
  background-size: contain;
  width: 12px;
  height: 12px;
}

.service {
  margin-top: 84px;
  padding-bottom: 69px;
  z-index: 0;
  position: relative;
}

.service .main-container {
  display: flex;
}

.service::before {
  content: "";
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(229, 229, 229, 1);
  z-index: -1;
}

.service-list {
  padding-top: 81px;
  padding-bottom: 81px;
  padding-right: 117px;
  padding-left: 0;
  margin: 0;
  border-right: 7px solid rgba(0, 0, 0, 1);
}

.service-list li {
  margin-bottom: 53px;
}

.service article {
  padding-left: 116px;
  padding-right: 66px;
  display: none;
}

.service-list li:last-child {
  margin-bottom: 0;
}

.service-list .btn {
  width: 160px;
}

.service-list .btn:hover::after,
.service-list .btn:active::after,
.service-list .active::after {
  width: 276px;
}

.service-list .btn:active::after,
.service-list .active::after {
  background-color: rgba(0, 0, 0, 1);
}

.service-list .active,
.service-list .active:focus {
  color: rgba(247, 225, 132, 1);
}

.service .info-text {
  margin: 0;
  padding-right: 132px;
}

.service h3 {
  margin-top: 65px;
  margin-bottom: 43px;
}

.info-text {
  font-family: "OpenSans-light";
  font-size: 15px;
  line-height: 2;
  color: rgba(70, 70, 70, 1);
}

.service-delievery {
  display: flex;
}

.service article::after {
  content: "";
  background-repeat: no-repeat;
  margin-top: 85px;
  width: 340px;
  height: 200px;
  display: block;
}

.service-delievery::after {
  background-image: url(../img/delivery.svg);
}

.service-garant::after {
  background-image: url(../img/warranty.svg);
}

.service-credit::after {
  background-image: url(../img/credit.svg);
}

.partners{
  margin-top: 94px;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.dji:hover::before {
  content: "";
  background-image: url(../img/logo-color-1.jpg);
  display: block;
  width: 260px;
  height: 100px;
}

.sp:hover::before {
  content: "";
  background-image: url(../img/logo-color-2.jpg);
  display: block;
  width: 260px;
  height: 100px;
}

.gopro:hover::before {
  content: "";
  background-image: url(../img/logo-color-3.jpg);
  display: block;
  width: 260px;
  height: 100px;
}

.vive:hover::before {
  content: "";
  background-image: url(../img/logo-color-4.jpg);
  display: block;
  width: 260px;
  height: 100px;
}

.display:hover img {
  display: none;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 93px;
  margin-bottom: 92px;
}

.info-container h2 {
  margin-bottom: 59px;
}

.info-container .btn {
  width: 260px;
  margin-top: 80px;
}

.about-us p:nth-child(2n+1) {
  margin-top: 0;
  margin-bottom: 44px;
}

.about-us p:nth-child(2n+2),
.contacts p {
  margin-top: 0;
  margin-bottom: 42px;
}

.about-us ul {
  font-family: "Gilroy-ExtraBold";
  margin-top: 0;
  padding-left: 19px;
  list-style-type: circle;
  list-style: grey;
}

.contacts {
  width: 560px;
}

.about-us {
  width: 472px;
}

.about-us ul {
  font-size: 16px;
  line-height: 2.5;
  color: rgba(163, 163, 163, 1);
}

.about-us span {
  color: rgba(0, 0, 0, 1);
}

.btn {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 0;
}

.btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 7px;
  left: 0px;
  top: 8px;
  z-index: -1;
  background: rgba(240, 197, 46, 1);
}

.btn:hover::after,
.service-list .active::after {
  height: 100%;
  top: 0;
}

.btn:active {
  color: rgba(247, 225, 132, 1);
  background-color: rgba(0, 0, 0, 1);
}

.main-footer {
  background-color: rgba(70, 70, 70, 1);
  font-family: "OpenSans-Light";
  font-size: 15px;
  line-height: 2;
  padding-top: 65px;
  padding-bottom: 66px;
}

.main-footer .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer .container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-footer .container-row:nth-child(2){
  margin-top: 28px;
}

.main-footer .container-row:nth-child(3) {
  margin-top: 58px;
}

.main-footer ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-footer p {
  margin: 0;
}

.main-footer a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.main-footer address {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
}

.footer-site-nav {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-site-nav li {
  margin-right: 38px;
}

.footer-site-nav li:last-child {
  margin-right: 0;
}

.footer-user-nav {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav li {
  margin-right: 44px;
}

.footer-user-nav li:last-child {
  margin-right: 0;
}

.user-footer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/user-2.svg);
  width: 13px;
  height: 12px;
  margin-right: 14px;
}

.compare-footer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/compare-2.svg);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.cart-footer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/cart-2.svg);
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.decorative-block::before {
  content: "";
  display: block;
  background-color: rgba(255, 198, 0, 1);
  width: 80px;
  height: 7px;
}

.info-block::before {
  background-color: rgba(0, 0, 0, 1);
}

.footer-social li {
  margin-right: 23px;
  padding-bottom: 2px;
}

.soc-item:hover::before {
  opacity: 0.6;
}

.soc-item:focus::before {
  opacity: 0.1;
}

.footer-social li:last-child {
  margin-right: 0;
}

.facebook::before {
  content: "";
  display: block;
  background-image: url(../img/fb.svg);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.instagram::before {
  content: "";
  display: block;
  background-image: url(../img/instagram.svg);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.twitter::before {
  content: "";
  display: block;
  background-image: url(../img/twitter.svg);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.exit {
  opacity: 0.3;
}

.page-text {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.filter label {
  font-family: "OpenSans-Light";
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 1);
}

.products-list p {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: rgba(70, 70, 70, 1);
}

.modal {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 960px;
  margin-top: -312px;
  margin-left: -480px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 3;
}

.modal-close {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 55px;
  height: 55px;
  right: 22px;
  top: 22px;
  cursor: pointer;
  background-image: url(../img/modal-close.svg);
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-write-us {
  padding-top: 98px;
  padding-bottom: 90px;
  padding-left: 100px;
  padding-right: 100px;
}

.modal-label {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 13px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form .btn {
  width: 200px;
}

.modal-form-item {
  display: flex;
  flex-direction: column;
}

.modal-input {
  border: none;
  background-color: rgba(242, 242, 242, 1);
  opacity: 0.5;
  padding: 20px;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.4);
  width: 360px;
}

.modal-input:hover {
  background-color: rgba(234, 234, 234, 1);
}

.modal-input:focus {
  background-color: rgba(255, 255, 255, 1);
  border: solid 3px rgba(240, 197, 46, 1);
  color: rgba(70, 70, 70, 1);
  outline: none;
}

.no-valid {
  background-color: rgba(246, 218, 218, 1);
  animation: shake 0.6s;
}

.text-letter {
  margin-top: 39px;
  margin-bottom: 55px;
  width: 100%;
}

.text-letter .modal-input {
  min-height: 156px;
  width: 100%;
}

.show,
.service .show {
  display: flex;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.popup-show {
  display: flex;
}

.modal-map iframe {
  border: none;
}
