@font-face {
  font-family: "Gilroy-Light";
  src: url(../fonts/gilroylight.woff2),
  url(../fonts/gilroylight.woff);
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(../fonts/gilroyextrabold.woff2),
  url(../fonts/gilroyextrabold.woff);
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/opensans.woff2),
  url(../fonts/opensans.woff);
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/opensanslight.woff2),
  url(../fonts/opensanslight.woff);
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
}

.modal {
  display: none;
}

.change a:hover,
.change button:hover,
.search:hover  {
  opacity: 0.6;
}

.change a:active,
.change button:active {
  opacity: 0.3;
}

.no-bullets {
  list-style-type: none;
}

.user-nav {
  font-family: "OpenSans-Light";
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 2;
}

.link a{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.user-nav button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.user-nav input {
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

.site-nav {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.info-block {
  font-family: "Gilroy-ExtraBold";
}

.page-tittle {
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.info-block p {
  font-family: "OpenSans-Light";
  font-size: 15px;
  line-height: 2;
  color: rgba(70, 70, 70, 1);
}

.about-us ul {
  font-size: 16px;
  line-height: 2.5;
}

.btn {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 260px;
  text-align: center;
  text-decoration: none;
  background: rgba(240, 197, 46);
}

.btn:active {
  color: rgba(247, 225, 132, 1);
  background-color: rgba(0, 0, 0, 1);
}

.main-footer {
  background-color: rgba(70, 70, 70, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "OpenSans-Light";
  font-size: 15px;
  line-height: 2;
}

.main-footer a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.main-footer address {
  font-style: normal;
}

.footer-site-nav a {
  color: rgba(255, 255, 255, 1);
}

.footer-user-nav a,
.exit {
  color: rgba(255, 255, 255, 0.7);
}

.exit {
  opacity: 0.3;
}

.breadcrumbs a {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.filter h3,
.products a {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.filter label {
  font-family: "OpenSans-Light";
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 1);
}

.products p {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: rgba(70, 70, 70, 1);
}
